name: Build & Distribute (Android)

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install dependencies
        run: flutter pub get

      - name: Build APK (Release)
        run: flutter build apk --release

      - name: Upload to Firebase App Distribution
        run: |
          npm install -g firebase-tools
          firebase appdistribution:distribute build/app/outputs/flutter-apk/app-release.apk \
          --app 1:222652963588:android:df44307667e8a5b3454e51  \
          --token ${{ secrets.FIREBASE_TOKEN }}


  ios_build:
    name: iOS Build & Firebase Upload
    runs-on: macos-latest
    env:
      FIREBASE_APP_ID: ${{ secrets.FIREBASE_APP_ID }}
      FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.7'

      - name: Install dependencies
        run: flutter pub get

      - name: Build iOS app (no codesign)
        run: flutter build ios --release --no-codesign

      - name: Create IPA from .app
        run: |
          mkdir -p build/ios/ipa
          cd build/ios/iphoneos
          zip -r ../ipa/Runner.ipa Runner.app

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Upload IPA to Firebase
        run: |
          ls build/ios/ipa
          firebase appdistribution:distribute build/ios/ipa/Runner.ipa \
          --app 1:222652963588:ios:6270dd3b290c7aa9454e51  \
          --token ${{ secrets.FIREBASE_TOKEN }}

      - name: Upload IPA as artifact
        uses: actions/upload-artifact@v4
        with:
          name: ios-build
          path: build/ios/ipa/Runner.ipa