name: Build & Distribute (All Flavors)

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:

  build_android:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        flavor: [dev, staging, production]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.7'

      - name: Install dependencies
        run: flutter pub get

      - name: Build APK & AAB (${{ matrix.flavor }})
        run: |
          flutter build apk --flavor ${{ matrix.flavor }} --release
          flutter build appbundle --flavor ${{ matrix.flavor }} --release

      - name: Upload APK to Firebase App Distribution
        run: |
          npm install -g firebase-tools
          firebase appdistribution:distribute build/app/outputs/flutter-apk/app-${{ matrix.flavor }}-release.apk \
            --app 1:222652963588:android:df44307667e8a5b3454e51 \
            --release-notes "${{ matrix.flavor }} CI build" \
            --token ${{ secrets.FIREBASE_TOKEN }}

      - name: Upload AAB as artifact
        uses: actions/upload-artifact@v4
        with:
          name: android-${{ matrix.flavor }}-build
          path: build/app/outputs/bundle/release/app-${{ matrix.flavor }}-release.aab

  build_ios:
    runs-on: macos-latest
    strategy:
      matrix:
        flavor: [dev, staging, production]
    env:
      FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.7'

      - name: Install dependencies
        run: flutter pub get

      - name: Build iOS app (no codesign) (${{ matrix.flavor }})
        run: flutter build ios --flavor ${{ matrix.flavor }} --release --no-codesign

      - name: Create unsigned IPA (${{ matrix.flavor }})
        run: |
          mkdir -p build/ios/ipa/Payload
          cp -r build/ios/iphoneos/Runner.app build/ios/ipa/Payload/
          cd build/ios/ipa
          zip -r Runner-${{ matrix.flavor }}.ipa Payload

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Upload unsigned IPA to Firebase (${{ matrix.flavor }})
        run: |
          firebase appdistribution:distribute build/ios/ipa/Runner-${{ matrix.flavor }}.ipa \
            --app 1:222652963588:ios:6270dd3b290c7aa9454e51 \
            --release-notes "${{ matrix.flavor }} CI build" \
            --token ${{ secrets.FIREBASE_TOKEN }}

      - name: Upload IPA as GitHub artifact (${{ matrix.flavor }})
        uses: actions/upload-artifact@v4
        with:
          name: ios-${{ matrix.flavor }}-build
          path: build/ios/ipa/Runner-${{ matrix.flavor }}.ipa
